/* header */
.header-block {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__ads-block,
.header__ads-text-block {
  min-height: 5rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe;
}

.header__prime-block {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.prime__text {
  font-size: 2.2rem;
}

.prime__nav-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.prime__nav {
  list-style: none;
  width: 100%;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.prime__button-link-block {
  list-style: none;
}

.prime__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

/* main */
.main-block {
  grid-area: main;
}

/* main__business-block */
.main__business-block {
  min-height: 40rem;
  background: lightgray;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.business__info-block {
  flex-basis: 50%;
}

.business__info-heading-block {
  min-height: 5rem;

  background: rgb(224, 230, 224);
}

.business__info-heading {
  font-size: 4rem;
  line-height: 1.2;
}

.business__info-text-block {
  min-height: 8rem;
  background: yellow;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__info-text {
  font-size: 1.8rem;
}

/* business__offer-block */
.business__offer-block {
  min-height: 10rem;
  background: rgb(202, 247, 202);
}

.business__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
}

/* business__mail-block */
.business__mail-block {
  min-height: 10rem;
  width: 100%;
  background: rgb(212, 91, 91);
  display: flex;
  align-items: center;
}

.business__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  background: red;
  gap: 2rem;
}

.mail__input-field {
  flex-basis: 20%;
  background: green;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  background: gray;
  display: flex;
  align-items: center;
}

.mail__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.business__logo-block {
  flex-basis: 30%;
  background: red;
}
