/* header */
.header-block {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__ads-block,
.header__ads-text-block {
  min-height: 5rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe;
}

.header__prime-block {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.prime__text {
  font-size: 2.2rem;
}

.prime__nav-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.prime__nav {
  list-style: none;
  width: 100%;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.prime__button-link-block {
  list-style: none;
}

.prime__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

/* main */
.main-block {
  grid-area: main;
}

/* main__business-block */
.main__business-block {
  min-height: 40rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.business__info-block {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.business__info-heading-block {
  min-height: 5rem;
}

.business__info-heading {
  font-size: 4rem;
  line-height: 1.2;
}

.business__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__info-text {
  font-size: 1.8rem;
}

/* business__offer-block */
.business__offer-block {
  min-height: 10rem;
}

.business__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
}

/* business__mail-block */
.business__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.business__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.mail__input-field {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.business__image-block {
  flex-basis: 30%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Desktop\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height:50rem;
  width: 100%;
  background:red;
  display:flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.escrow__social-block {
  min-height:10rem;
  width:100%;
  background:gray;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:3rem;
}

.escrow__social-box { 
 flex-basis:9%; 
  background:rgb(129, 86, 86);
}

.escrow__social {
  width:100%; 
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height:35rem;
  width:100%;
  background:rgb(163, 136, 84); 
  display:flex;
  justify-content: center; 
  gap:2rem;
} 

.escrow__info {
  flex-basis: 40%;
  background:green;
  /* display:flex; */
  /* flex-direction: column;  */
  /* justify-content: center;  */
}

.escrow__info-heading-block {
  min-height:5rem;
  background:rgb(154, 163, 154);
  width:100%;
}

.escrow__info-heading {
  font-size:3rem;
  font-weight:600;
  color:#000000;
  line-height: 1.3;
}

.escrow__info-text-block {
  min-height: 10rem;
  background: lightpink;
  width:100%;
  display:flex;
  align-items: center;
}
 
.escrow__info-link-block {
  min-height:5rem;
  width:100%;
  background:lightcoral;
  display:flex;
  align-items: center;

}

.escrow__info-link {
  text-decoration: underline;
}
 
 
