/*  x-extra, s/sm-small, md-medium and l/lg-large */

/******************
 xxs screen
 *******************/
 @media screen and (min-width:0px) and (max-width: 319px) {
  /* header */
.header-block {
  grid-area: header;
  height:47vh;
  height:47dvh;
  height:47svh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.header__ads-block {
  min-height: 10rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content:center;
  align-items: center; 
}

.header__ads-text-block  {
  min-height: 7rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe; 
  text-align: center; 
  font-size:1.3rem
}

.line-break { 
  display:block;
}

.header__prime-block {
  min-height: 13rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex; 
  align-items: center;
}

.prime__text {
  font-size: 2.2rem; 
  padding-left:4%;
  font-weight:600;
}

.prime__nav-block {
  flex-basis: 30%; 
  display:none ;
}
 
.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.prime__button-link-block { 
  display:none;
}

.prime__button {
 display:none; 
}

.prime__menu-button-block { 
width:3rem;
margin-right:2%;
}

.prime__menu-button { 
width:100%;
vertical-align: top;
}

/* main */
.main-block {
  grid-area: main;
  min-height: 20rem;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  flex-direction: column-reverse; 
  align-items:center;
  margin-top: 13rem;  
  padding:0 4% 2rem;
}

.hero__info-block {
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  gap: 1.9rem;   
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 1.6rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 1.4;
  gap:3rem;
  list-style: none;
  font-weight:600; 
 font-size:1.5rem;
}

.hero__offer-list-item:not(:last-of-type) {
  margin-bottom:1.35rem
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;

}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem; 
  flex-wrap: wrap;
}

.mail__input-field {
  flex-basis: 15%;
  display: flex;
  align-items: center;
}

.mail__input {
  width: clamp(6.7rem, 12rem, 16rem);
  min-height: 5rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
}

.mail__input::placeholder {
  padding-left:5%;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  width: clamp(6rem, 10rem, 11rem);
  min-height: 5rem; 
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  min-height: 30rem;
  width: 100%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Mobile\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 1rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 5rem 0;
}

.escrow__social-box {
  flex-basis: 26%;
}

 .escrow__social-box-hidden,
 .escrow__social-box-hidden1 {
  display:none
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 55rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: #ffffff;
}

.escrow__info {
  min-height: 40rem;
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 0 5%; 
  border-radius:2% 2% 0 0;
  gap:1rem;
  margin-bottom:-12rem;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-text {
  font-size:1.5rem;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
  font-size:1.4rem;
  z-index: 5;
}

.escrow__info-image-block {
  min-height: 30rem;
  width: 90%;
  display:flex;
  justify-content: center; 
  background: #f0eeeb;  
  border-radius:0 0 2% 2%;  
}

.escrow__info-image {
  min-height: 26rem;
  width: 90%;
  background:url(assets/Phone\ Mockup\ \(Mobile\).png) no-repeat center center;
  background-size:contain;    
}

.escrow__info-img { 
  display:none;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom:2rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.4rem;
  color: #000000;
  font-weight: 600;
  line-height:1.2;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.5rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.4rem;
  text-decoration: underline;
  font-weight:600;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;  
}

.footer__info-block {
  min-height: 15rem;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:8rem;
}

.footer__info {
  width: 100%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top:5rem;
}

.footer__info-links {
  min-height: 15rem;
  width: 100%;
  display:flex;  
  column-gap:3.6rem;  
  row-gap: 6rem;;
  flex-wrap: wrap; 
}

.footer__info-link-list {
  list-style: none;
  width:10rem; 
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
 }

 /******************
 xs screen 
 *******************/
 @media screen and (min-width:320px) and (max-width: 479px) {
  /* header */
  .header-block {
    grid-area: header;
    height:47vh;
    height:47dvh;
    height:47svh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .header__ads-block {
    min-height: 10rem;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content:center;
    align-items: center; 
  }
  
  .header__ads-text-block  {
    min-height: 7rem;
    width: 98%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header__ads-text {
    color: #fefefe; 
    text-align: center; 
    font-size:1.3rem
  }
  
  .line-break { 
    display:block;
  }
  
  .header__prime-block {
    min-height: 13rem;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    color: #040403;
  }
  
  .prime__text-block {
    flex-basis: 20%;
    display: flex; 
    align-items: center;
  }
  
  .prime__text {
    font-size: 2.2rem; 
    padding-left:4%;
    font-weight:600;
  }
  
  .prime__nav-block {
    flex-basis: 30%; 
    display:none ;
  }
   
  .prime__button-block {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
  }
  
  .prime__button-link-block { 
    display:none;
  }
  
  .prime__button {
   display:none; 
  }
  
  .prime__menu-button-block { 
  width:3rem;
  margin-right:2%;
  }
  
  .prime__menu-button { 
  width:100%;
  vertical-align: top;
  }

/* main */
.main-block {
  grid-area: main;
  min-height: 20rem;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  flex-direction: column-reverse; 
  align-items:center;
  margin-top: 13rem;  
  padding:0 4% 2rem;
}

.hero__info-block {
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  gap: 1.9rem;   
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 1.6rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 1.6;
  gap:3rem;
  list-style: none;
  font-weight:600; 
 font-size:1.5rem;
}

.hero__offer-list-item:not(:last-of-type) {
  margin-bottom:1.35rem
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;

}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem; 
  flex-wrap: wrap;
}

.mail__input-field {
  flex-basis: 15%;
  display: flex;
  align-items: center;
}

.mail__input {
  width: clamp(6.7rem, 15rem, 16rem);
  min-height: 5rem;
  border-color: #fefefe;
  border-radius: 0.5rem; 
  font-size: 1.4rem;
}

.mail__input::placeholder {
  padding-left:5%;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  width: clamp(6rem, 10rem, 11rem);
  min-height: 5rem; 
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  min-height: 35rem;
  width: 100%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Mobile\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 1rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
}

.escrow__social-box {
  flex-basis: 26%;
}

 .escrow__social-box-hidden,
 .escrow__social-box-hidden1 {
  display:none
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 55rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: #ffffff;
}

.escrow__info {
  min-height: 40rem;
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 0 5%; 
  border-radius:2% 2% 0 0;
  gap:1rem;
  margin-bottom:-12rem;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-text {
  font-size:1.5rem;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
  font-size:1.4rem;
  z-index: 5;
}

.escrow__info-image-block {
  min-height: 30rem;
  width: 90%;
  display:flex;
  justify-content: center; 
  background: #f0eeeb;  
  border-radius:0 0 2% 2%;  
}

.escrow__info-image {
  min-height: 26rem;
  width: 90%;
  background:url(assets/Phone\ Mockup\ \(Mobile\).png) no-repeat center center;
  background-size:contain;    
}

.escrow__info-img { 
  display:none;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom:2rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.4rem;
  color: #000000;
  font-weight: 600;
  line-height:1.2;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.5rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.4rem;
  text-decoration: underline;
  font-weight:600;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;  
}

.footer__info-block {
  min-height: 15rem;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:8rem;
}

.footer__info {
  width:90%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top:4rem;
}

.footer__info-links {
  min-height: 15rem;
  width: 100%;
  display:flex;  
  column-gap:5rem;  
  row-gap: 5rem;;
  flex-wrap: wrap; 
}

.footer__info-link-list {
  list-style: none;
  width:10rem; 
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
 }

 /******************
 sm screen 
 *******************/
 @media screen and (min-width:480px) and (max-width: 639px) {
  /* header */
.header-block {
  grid-area: header;
  height:35vh;
  height:35dvh;
  height:35svh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.header__ads-block {
  min-height: 10rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content:center;
  align-items: center; 
}

.header__ads-text-block  {
  min-height: 7rem;
  width: 90%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe; 
  text-align: center; 
}

.line-break { 
  display:block;
}

.header__prime-block {
  min-height: 13rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex; 
  align-items: center;
}

.prime__text {
  font-size: 2.2rem; 
  padding-left:4%;
  font-weight:600;
}

.prime__nav-block {
  flex-basis: 30%; 
  display:none ;
}
 
.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.prime__button-link-block { 
  display:none;
}

.prime__button {
 display:none; 
}

.prime__menu-button-block { 
width:3rem;
}

.prime__menu-button { 
width:100%;
vertical-align: top;
}

/* main */
.main-block {
  grid-area: main;
  min-height: 20rem;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  flex-direction: column-reverse; 
  align-items:center;
  margin-top: 13rem;  
  padding:0 4% 2rem;
}

.hero__info-block {
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin-top:5rem;
  gap: 1.7rem;   
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 1.8rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
  font-weight:600;
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  gap: 2rem; 
}

.mail__input-field {
  flex-basis: 15%;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  width: 10rem;
  min-height: 5rem;
  /* padding: 1.6rem 1.1rem; */
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  min-height: 40rem;
  width: 100%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Mobile\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 1rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 7rem 0;
}

.escrow__social-box {
  flex-basis: 26%;
}

 .escrow__social-box-hidden,
 .escrow__social-box-hidden1 {
  display:none
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 65rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: #ffffff;
}

.escrow__info {
  min-height: 40rem;
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 0 10%; 
  border-radius:2% 2% 0 0;
  gap:1rem;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 2.7rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 92%;
  display: flex;
  align-items: center;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
}

.escrow__info-image-block {
  min-height: 30rem;
  width: 90%;
  display:flex;
  justify-content: center; 
  background: #f0eeeb;  
  border-radius:0 0 2% 2%;
}

.escrow__info-image {
  min-height: 42rem;
  width: 90%;
  background:url(assets/Phone\ Mockup\ \(Mobile\).png) no-repeat center center;
  background-size:auto;   
  margin-top:-10rem; 
}

.escrow__info-img { 
  display:none;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 4.5rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.7rem;
  color: #000000;
  font-weight: 600;
  line-height:1.2;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.8rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.7rem;
  text-decoration: underline;
  font-weight:600;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 10% 2%;
}

.footer__info-block {
  min-height: 15rem;
  width:80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  width: 100%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top:5rem;
}

.footer__info-links {
  min-height: 15rem;
  width: 80%;
  display:flex; 
  row-gap:4rem; 
  flex-wrap: wrap; 
}

.footer__info-link-list {
  list-style: none;
  width:14rem; 
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
 }

 /******************
 md screen 
 *******************/
 @media screen and (min-width:640px) and (max-width: 767px) {
  /* header */
.header-block {
  grid-area: header;
  height:35vh;
  height:35dvh;
  height:35svh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.header__ads-block {
  min-height: 10rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content:center;
  align-items: center; 
}

.header__ads-text-block  {
  min-height: 7rem;
  width: 90%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe; 
  text-align: center; 
}

.line-break { 
  display:block;
}

.header__prime-block {
  min-height: 13rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex; 
  align-items: center;
}

.prime__text {
  font-size: 2.2rem; 
  padding-left:4%;
  font-weight:600;
}

.prime__nav-block {
  flex-basis: 30%; 
  display:none ;
}
 
.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.prime__button-link-block { 
  display:none;
}

.prime__button {
 display:none; 
}

.prime__menu-button-block { 
width:3rem;
}

.prime__menu-button { 
width:100%;
vertical-align: top;
}

/* main */
.main-block {
  grid-area: main;
  min-height: 20rem;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  flex-direction: column-reverse; 
  align-items:center;
  margin-top: 13rem;  
  padding:0 4% 2rem;
}

.hero__info-block {
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin-top:5rem;
  gap: 1.7rem;   
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 1.8rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
  font-weight:600;
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  gap: 2rem; 
}

.mail__input-field {
  flex-basis: 15%;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  width: 10rem;
  min-height: 5rem;
  /* padding: 1.6rem 1.1rem; */
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  min-height: 40rem;
  width: 100%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Mobile\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 1rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 7rem 0;
}

.escrow__social-box {
  flex-basis: 26%;
}

 .escrow__social-box-hidden,
 .escrow__social-box-hidden1 {
  display:none
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 65rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: #ffffff;
}

.escrow__info {
  min-height: 40rem;
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 0 10%; 
  border-radius:2% 2% 0 0;
  gap:1rem;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 2.7rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 92%;
  display: flex;
  align-items: center;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
}

.escrow__info-image-block {
  min-height: 30rem;
  width: 90%;
  display:flex;
  justify-content: center; 
  background: #f0eeeb;  
  border-radius:0 0 2% 2%;
}

.escrow__info-image {
  min-height: 42rem;
  width: 90%;
  background:url(assets/Phone\ Mockup\ \(Mobile\).png) no-repeat center center;
  background-size:auto;   
  margin-top:-10rem; 
}

.escrow__info-img { 
  display:none;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 4.5rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.7rem;
  color: #000000;
  font-weight: 600;
  line-height:1.2;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.8rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.7rem;
  text-decoration: underline;
  font-weight:600;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 10% 2%;
}

.footer__info-block {
  min-height: 15rem;
  width:80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  width: 100%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top:5rem;
}

.footer__info-links {
  min-height: 15rem;
  width: 80%;
  display:flex; 
  row-gap:4rem; 
  flex-wrap: wrap; 
}

.footer__info-link-list {
  list-style: none;
  width:14rem; 
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
 } 

 /******************
 lg screen 
 *******************/
 @media screen and (min-width:768px) and (max-width:1023px) {
  /* header */
.header-block {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__ads-block {
  min-height: 5rem;
  width: 100%;
  background: #000000;
  display: flex; 
  align-items: center;
}

.header__ads-text-block  {
  min-height: 5rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe; 
  text-align: center; 
}

.line-break { 
  display:block;
}

.header__prime-block {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex; 
  align-items: center;
}

.prime__text {
  font-size: 2.2rem; 
  padding-left:4%;
}

.prime__nav-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.prime__nav {
  list-style: none;
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.prime__button-link-block {
  list-style: none;
}

.prime__button {
  padding: 1.5rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.prime__menu-button-block {
  display:none
}

/* main */
.main-block {
  grid-area: main;
  min-height: 20rem;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  flex-direction: column-reverse; 
  align-items:center;
  margin-top: 6rem; 
}

.hero__info-block {
  min-height: 20rem;
  width: 90%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 1.7rem; 
  margin-top:3rem;
  @media screen and (min-width:830px) {
    width: 80%;  
  }
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 2rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.mail__input-field {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  min-height: 40rem;
  width: 90%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Tablet\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 15rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 1.5%;
}

.escrow__social-box {
  flex-basis: 15%;
}

 .escrow__social-box-hidden {
  display:none
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 65rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: #ffffff;
}

.escrow__info {
  min-height: 40rem;
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 0 10%; 
  border-radius:2% 2% 0 0;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.3;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 92%;
  display: flex;
  align-items: center;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
}

.escrow__info-image-block {
  min-height: 30rem;
  width: 90%;
  display:flex;
  justify-content: center; 
  background: #f0eeeb;  
  border-radius:0 0 2% 2%;
}

.escrow__info-image {
  min-height: 42rem;
  width: 95%;
  background:url(assets/Phone\ Mockup\ \(Tablet\).png) no-repeat center center;
  background-size:auto;   
  margin-top:-10rem; 
}

.escrow__info-img { 
  display:none;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 4rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.6rem;
  color: #000000;
  font-weight: 600;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.8rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.7rem;
  text-decoration: underline;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 10% 2%;
}

.footer__info-block {
  min-height: 15rem;
  width:80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  width: 100%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.footer__info-links {
  min-height: 15rem;
  width: 80%;
  display:flex; 
  row-gap:4rem;
  column-gap: 6rem;
  flex-wrap: wrap; 
}

.footer__info-link-list {
  list-style: none;
  width:14rem; 
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

}

/******************
 xl screen 
 *******************/
@media screen and (min-width:1024px) and (max-width:1279px){
  /* header */
.header-block {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__ads-block,
.header__ads-text-block {
  min-height: 5rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe;
}

.line-break {
  display:none;
}

.header__prime-block {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.prime__text {
  font-size: 2.2rem;
}

.prime__nav-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.prime__nav {
  list-style: none;
  width: 100%;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.prime__button-link-block {
  list-style: none;
}

.prime__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.prime__menu-button-block {
  display:none;
}

/* main */
.main-block {
  grid-area: main;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 6rem;
}

.hero__info-block {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 1.8rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.mail__input-field {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  flex-basis: 30%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Desktop\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 15rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 1.5%;
}

.escrow__social-box {
  flex-basis: 9%;
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 35rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.escrow__info {
  flex-basis: 40%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 5%;
  border-radius: 2% 0 0 2%;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.3;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
}

.escrow__info-image-block {
  flex-basis: 40%;
  background: #f0eeeb;
  position: relative;
  border-radius: 0 2% 2% 0;
}

.escrow__info-image {
  min-width: 185%;
  position: absolute;
  right: 5rem;
}

.escrow__info-img {
  width: 100%;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.6rem;
  color: #000000;
  font-weight: 600;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.8rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.7rem;
  text-decoration: underline;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 37rem 1fr;
  padding: 4% 8%;
}

.footer__info-block {
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  width: 100%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info-links {
  min-height: 15rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__info-link-list {
  list-style: none;
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
}

/******************
 xxl screen 
 *******************/
@media screen and (min-width:1280px) and (max-width:1535px){
  /* header */
.header-block {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__ads-block,
.header__ads-text-block {
  min-height: 5rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe;
}

.line-break {
  display:none;
}

.header__prime-block {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.prime__text {
  font-size: 2.2rem;
}

.prime__nav-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.prime__nav {
  list-style: none;
  width: 100%;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.prime__button-link-block {
  list-style: none;
}

.prime__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.prime__menu-button-block {
  display:none;
}

/* main */
.main-block {
  grid-area: main;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 6rem;
}

.hero__info-block {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 1.8rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.mail__input-field {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  flex-basis: 30%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Desktop\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 15rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 1.5%;
}

.escrow__social-box {
  flex-basis: 9%;
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 35rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.escrow__info {
  flex-basis: 40%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 5%;
  border-radius: 2% 0 0 2%;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.3;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
}

.escrow__info-image-block {
  flex-basis: 40%;
  background: #f0eeeb;
  position: relative;
  border-radius: 0 2% 2% 0;
}

.escrow__info-image {
  min-width: 185%;
  position: absolute;
  right: 5rem;
}

.escrow__info-img {
  width: 100%;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.6rem;
  color: #000000;
  font-weight: 600;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.8rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.7rem;
  text-decoration: underline;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 37rem 1fr;
  padding: 4% 8%;
}

.footer__info-block {
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  width: 100%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info-links {
  min-height: 15rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__info-link-list {
  list-style: none;
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
}

/******************
 2xl screen 
 *******************/
@media screen and (min-width:1536px){
  /* header */
.header-block {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__ads-block,
.header__ads-text-block {
  min-height: 5rem;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ads-text {
  color: #fefefe;
}

.line-break {
  display:none;
}

.header__prime-block {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  color: #040403;
}

.prime__text-block {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.prime__text {
  font-size: 2.2rem;
}

.prime__nav-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.prime__nav {
  list-style: none;
  width: 100%;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prime__button-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.prime__button-link-block {
  list-style: none;
}

.prime__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.prime__menu-button-block {
  display:none;
}

/* main */
.main-block {
  grid-area: main;
}

/* main__hero-block */
.main__hero-block {
  min-height: 40rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 6rem;
}

.hero__info-block {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.hero__info-heading-block {
  min-height: 5rem;
}

.hero__info-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #040403;
}

.hero__info-text-block {
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__info-text {
  font-size: 1.8rem;
}

/* hero__offer-block */
.hero__offer-block {
  min-height: 10rem;
}

.hero__offer-list-item {
  background: url(assets/Checkmark.svg) no-repeat left center;
  padding-left: 3.5rem;
  line-height: 2.5;
  list-style: none;
}

/* hero__mail-block */
.hero__mail-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__mail {
  min-height: 7rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.mail__input-field {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.mail__input {
  padding: 1.5rem 1.4rem;
  border-color: #fefefe;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mail__button-block {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.mail__button {
  padding: 1.6rem 1.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #000000;
  color: #efefee;
}

.hero__image-block {
  flex-basis: 30%;
  display: flex;
  background: url(assets/Hero\ Image\ \(Desktop\).png) no-repeat center;
  background-size: contain;
}

/* main__escrow-block */
.main__escrow-block {
  min-height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 15rem;
}

.escrow__social-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 1.5%;
}

.escrow__social-box {
  flex-basis: 9%;
}

.escrow__social {
  width: 100%;
  vertical-align: top;
  aspect-ratio: 16/4;
}

.escrow__info-block {
  min-height: 35rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.escrow__info {
  flex-basis: 40%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0eeeb;
  padding: 5%;
  border-radius: 2% 0 0 2%;
}

.escrow__info-heading-block {
  min-height: 5rem;
  width: 100%;
}

.escrow__info-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.3;
}

.escrow__info-text-block {
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.escrow__info-link {
  text-decoration: underline;
}

.escrow__info-image-block {
  flex-basis: 40%;
  background: #f0eeeb;
  position: relative;
  border-radius: 0 2% 2% 0;
}

.escrow__info-image {
  min-width: 185%;
  position: absolute;
  right: 5rem;
}

.escrow__info-img {
  width: 100%;
}

/* main__feature-block */
.main__feature-block {
  min-height: 45rem;
  display: flex;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.main__feature {
  min-height: 35rem;
  width: 80%;
  display: flex;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.feature__image-block {
  flex-basis: 45%;
  display: flex;
  background: #ffff;
}

.feature__image {
  width: 100%;
}

.feature__img {
  max-width: 100%;
}

.feature__info-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  gap: 0.7rem;
}

.feature__info-heading-block {
  min-height: 3rem;
  width: 100%;
}

.feature__info-heading {
  font-size: 2.6rem;
  color: #000000;
  font-weight: 600;
}

.feature__info-text-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__info-text {
  font-size: 1.8rem;
}

.feature__link-block {
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.feature__link {
  font-size: 1.7rem;
  text-decoration: underline;
}

/* footer */
.footer-block {
  grid-area: footer;
  background: #040403;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 37rem 1fr;
  padding: 4% 8%;
}

.footer__info-block {
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  width: 100%;
  min-height: 15rem;
}

.footer__info-heading-block {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__info-link-block {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info-links {
  min-height: 15rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__info-link-list {
  list-style: none;
}

.footer__info-link-item {
  width: 0;
}

.link-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
}
